#bookshelf {
    background-color: rosybrown;
    display: flex;
    flex-direction: column;
    
}
#book-card-output {
    background-color: #ffc0cb;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
}
#book-card-output > div {
    border: 1px solid black;
}