* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    background-color: rgb(192, 191, 191);
}
header {
    background-color: rosybrown;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
#app {
    display: flex;
}
.sidebar {
    background-color: rgb(105, 91, 91);
    width: 30%;
    display: flex;
    flex-direction: column;
}
#show-new-book-form-btn {
    font-size: xx-large;
    text-align: center;
    background-color: rgb(10, 187, 10);
    border: 3px solid green;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    color: #fff;
}
#show-new-book-form-btn:hover,
#show-new-book-form-btn:focus {
    background-color: darkolivegreen;
}
#add-new-book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#show-new-book-form-btn {
    margin-top: 10%;
    align-self: center;
}
#bookshelf {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;    
}
.new-book {
    border: 1px solid rgb(116, 111, 111);
    border-radius: 7px;
    background-color: #ddd1d3;
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem;
    margin: 0.25rem;
}
